{% extends "base.html" %}
{% block title %}Sources{% endblock %}
{% load block_sources_extra %}

{% block dropdown %}
    <li><a href="/home"><span>News</span></a></li>
    <li><a href="/settings"><span>Teams</span></a></li>
    <li class="current-menu-item"><a href="/settings/sources"><span>Sources</span></a></li>
{% endblock %}
{% block content %}
<div class="container_12">
<h3>Please Select the Sources you'd like to remove from your feed.</h3>
<form method="POST">


{% for team in team %}
<div class="clear"></div>
    <h2>{{ team.team_name }}</h2>

    {%  for source in team.sources.all %}
        <div class="col col_1_3 ">
        <div class="inner">
            <input type="checkbox" class="chkBox" name="team_{{ team.id }}_source_{{ source.id }}" value="team_{{ team.id }}_source_{{ source.id }}"{% if source.id in team_source_blocks|get_item:team.id %}checked{% endif %}/>{{ source.source_name }}
        <div class="clear"></div>
        </div>
        </div>

    {% endfor %}

{% endfor %}
<div class="clear"></div>
    <button type="submit" class="button_black">Submit</button>
    </form>
</div>


{% endblock %}



